.formTitle {
    color: white;
    text-align: left;
  }
  
  .leftAlignedForm {
    text-align: left;
  }
  
  .leftAlignedForm label, .leftAlignedForm input {
    display: block;
    margin-bottom: 10px;
    color: white;
  }
  
  .leftAlignedForm input[type="email"],
  .leftAlignedForm input[type="password"] {
    width: 95%;
    color: black;
  }
  
  .leftAlignedForm button {
    float: right;
    background-color: #6e0404;
    color: #fff;
    border: none;
    padding: 5px 25px;
    border-radius: 100px;   
    margin-right: 5px;
    margin-top: 5px;
  }
  
  button:hover {
    background-color: #aa0505;
  }

  .loginForm {    
    width: 300px;
    margin: 0 auto;    
    text-align: center; 
    /*background-color:darkred; */
    background: rgba(179, 100, 100, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;    
    padding: 1px 20px 30px ;
    margin-bottom: 10px;    
  }

  .loginFacebook {
    background-image: url("loginWithFacebook.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    width: 300px;
    height: 25px;
    border: none;
    
    margin-bottom: 10px;
  }

  .loginFacebook div:hover{
    border: 5px solid #ff1e00bd;    
  }

  .loginGoogle {
    background-image: url("loginWithGoogle.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    width: 300px;
    height: 25px;
    border: none;    
    margin-bottom: 10px;
  }

  .loginGoogle div:hover{
    border: 5px solid #ff1e00bd;    
  }