.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;  
  background-color: black; 
}

.blur-overlay {
  position: absolute;
  background-image: url("../assets/images/barback.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  filter: blur(2px); /* Aplica o desfoque */ 
  opacity: 0.7;  
  height: 100%;
  width: 100%;  
  z-index: -1;
}

.blur {
  filter: blur(5px);
}

h1 {
  color: white;
}

.bacco-main-content {
  position: relative;
  z-index: 90;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: 100vh; 
}
  
.leftAlignedForm {
  text-align: left;
}

button {
  float: right;
    background-color: #6e0404;
    color: #fff;
    border: none;
    padding: 5px 25px;
    border-radius: 100px;   
    margin-right: 5px;
    margin-top: 5px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 100px; 
  font-size: 12px;
  outline: none;
  transition: border-color 0.2s;
}

input:hover,
textarea:hover {
  border-color: #999;
}

input:focus,
textarea:focus {
  background-color: #ffffcc; 
  border-color: #ff1e00bd;
  box-shadow: 0 0 5px rgb(116, 1, 1); 
}

.anchor-top-left {
  position: absolute;
  top: 0; 
  left: 0;
  margin-left: 15px;
}
