################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/axxis.bacco.backend/axxis.bacco.domain/bin/Debug/net6.0
/axxis.bacco.backend/axxis.bacco.domain/obj/Debug/net6.0
/axxis.bacco.backend/axxis.bacco.backend.infra.configuration/obj
/axxis.bacco.backend/axxis.bacco.backend.infra.data/obj
/axxis.bacco.backend/axxis.bacco.backend.infra.extensions/obj
/axxis.bacco.backend/axxis.bacco.backend.infra.di/obj
/axxis.bacco.backend/axxis.bacco.backend.infra.configuration/bin/Debug/net6.0
/axxis.bacco.backend/axxis.bacco.backend.infra.data/bin/Debug/net6.0
/axxis.bacco.backend/axxis.bacco.backend.infra.di/bin/Debug/net6.0
/axxis.bacco.backend/axxis.bacco.backend.infra.extensions/bin/Debug/net6.0
