.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);     
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  
  .modal {
    background: rgba(179, 100, 100, 0.5);
    color: white;
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 5px;
    width: 600px;
    max-width: 90%;
    position: relative;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
  }

  .alignLeft {
    text-align: left;
  }

  .alignRight {
    text-align: right;
  }

  .vcenter {
    display: flex;
    align-items: center; 
    justify-content: center; 
  }

  .roundButtonWithMargin {
    border-radius: 100px;
    margin: 4px;
  }

  .customDatepicker {
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: white; 
    color: black; 
  }
  
  /* Define o estilo do cabeçalho do DatePicker */
  .react-datepicker__header {
    background-color: #8b0000; /* Fundo vermelho grená */
    color: white; /* Letras brancas */
  }
